/_files
/icon_cube
/logs
/m
/partner
**/vendor/

#google-api-php-client
/_include/current/google-api-php-client

# Ignore all files in the _lang directory
!/_lang
/_lang/*

# But not these specific files
!/_lang/main
/_lang/main/*

!/_lang/main/default
/_lang/main/default/*

!/_lang/main/default/language.php

!/_lang/administration
/_lang/administration/*

!/_lang/administration/default
/_lang/administration/default/*
!/_lang/administration/default/language.php

#_frameworks files
_frameworks/install/
_frameworks/mobile/
_frameworks/partner/
_frameworks/common/

_frameworks/administration/modern
_frameworks/administration/default/images/
_frameworks/administration/default/trontastic/
_frameworks/administration/default/lightbox/
_frameworks/administration/default/fonts/
_frameworks/administration/default/js/

_frameworks/main/whisprrz_Edge/abkstyle/
_frameworks/main/whisprrz_Edge/block/
_frameworks/main/whisprrz_Edge/bootstrap-datetimepicker/
_frameworks/main/whisprrz_Edge/fonts/
_frameworks/main/whisprrz_Edge/images/
_frameworks/main/whisprrz_Edge/img/
_frameworks/main/whisprrz_Edge/jquery/
_frameworks/main/whisprrz_Edge/jquery_datetimepicker/
_frameworks/main/whisprrz_Edge/lightbox/
_frameworks/main/whisprrz_Edge/player/
_frameworks/main/whisprrz_Edge/quill/

!/_frameworks/common
/_frameworks/common/*

!_frameworks/common/set_old.php
!_frameworks/common/set_urban.php

#_server directory
!/_server
/_server/*
!_server/widgets/
!_server/.htaccess
!_server/client.js
!_server/gallery.js
!_server/geo_ajax.php
!_server/index.html
!_server/invitee.js
!_server/lib.js
!_server/mobile_chat.js
!_server/room_link.js
!_server/server_edge.js
!_server/server_impact.js
!_server/server_mobile.js
!_server/server.js
!_server/server.php
!_server/update_server_ajax_edge.php
!_server/update_server_ajax_impact.php
!_server/update_server_ajax.php
!_server/wall_edge.js
!_server/wall_urban.js
!_server/wall.js

!/_server/js
/_server/js/*
!_server/js/moment_init.js
!_server/js/moment_hotdates_init.js
!_server/js/moment_partyhouz_init.js


/_pay/pagseguro/
/_pay/stripe/stripe-php-7.57.0/

/wow
/my_backtrader

**/ip.db
#no need files
.well-known

# Ignore all PNG, JPG, and JPEG files
*.png
*.jpg
*.jpeg