/*-- general --*/
.red{ border: 1px solid red; }
.justify{ clear: left; font-size: 0; line-height: 0; height: 0; margin: 0; padding: 0; }
.fl_left{ float: left; }
.fl_right{ float: right; }
.cl{ font-size: 0; line-height: 0; height: 2px; margin: 0; padding: 0; clear: both; }
/*-- /general --*/
/*-- global --*/
.games{ font-family: Tahoma; width: 576px; color: #000; font-size: 11px; line-height: 13px; position: relative; } /**/
.games table{ width: 100%; border-collapse: collapse; border: 0; table-layout: fixed; }
.games table td{ padding: 0; }
.games a{ text-decoration: none; }
.games a:hover{ text-decoration: none; }
.games h2{ font-size: 18px; line-height: 20px; font-family: Arial; font-weight: normal; padding: 0; margin: 0 0 10px; }
.games img{ border: 0; }
.games p{ padding: 0; margin: 0; }
/*-- /global --*/
.games_head{  background: #000; color: #fff; border-radius:5px 5px 0 0; height: 29px; line-height: 26px; padding:1px 0 0 10px; font-weight:bold;}
/*-- main --*/
.games_main{ background: #fff; }
.games_decor_top{ background: url(../images/games/top_decor.jpg) 0 0 no-repeat; height: 177px; padding: 302px 15px 0 14px; position: relative; }
.games_btn_top{  position: absolute; top: 290px; color: #000; font-size: 26px; line-height: 30px; padding: 0 0 0 25px; } /*width: 265px; text-align: center;*/
.games_decor_bot{ background: url(../images/games/bot_decor.png) 0 0 no-repeat; height: 287px; margin: -65px 0 0; position: relative; }
.games_decor_bot a{ display: block; width: 150px; height: 108px; position: absolute; top: 88px; left: 0px; color: #8f3201; font-size: 36px; line-height: 108px; font-family: Arial; text-align:center;}
.games_bg_green{ background: url(../images/games/bg_green.gif) 0 0 repeat; }
.games_blfoto{ background: url(../images/games/bg_black.gif) 0 100% repeat-x; padding: 30px 0 0px; position: relative; }
.games_shadow{ background: url(../images/games/shadow_foto.png) 0 0 no-repeat; height: 100px; text-align: right; padding: 0 0 0 16px; }
.games_shadow.line0{ clear: both; }
.games_foto{ width: 62px; text-align: center; float: left; margin: 0 10px 0 0; position: relative; z-index: 1; }
.games_foto .frame{ background: url(../images/games/frame.gif) 0 0 no-repeat; width: 62px; height: 70px; position: absolute; top: 0; left: 0; }
.games_last{ margin: 0; }
.games_foto span{ font-weight: bold; color: #def183; }
.games_foto span.green{ color: #6e8d3e; }
.games_foto_pad{ float: right; margin: 0 0 22px; }
@-moz-document url-prefix() {
	.games_foto_pad {
		margin: 0 0 20px;
	}
}
.green_balloon{ background: url(../images/games/green_balloon.png) 0 0 no-repeat; height: 74px; font-size: 26px; line-height: 28px; padding: 38px 0 0 40px; }
.games_bg{ padding: 8px 43px 8px 13px; }
.games_bg img{ float: left; }
.games_ye{ background: #e0a253; }
.games_orange{ background: #f2c557; }
.games_check_pos{ position: relative; float: left; z-index: 2; }
.games_check{ position: absolute; top: 58px; left: 138px; z-index: 20; width: 70px; height: 69px; }
/*-- /main --*/
.games_foot { background: #000 url(../images/games/foot_decor.jpg) 96% 0 no-repeat; height: 71px; border-radius:0 0 5px 5px;}
.games h2 {background:none!important; color:#000!important; padding-left:0px!important;}
