/*-- general --*/
.red{ border: 1px solid red; }
.justify{ clear: left; font-size: 0; line-height: 0; height: 0; margin: 0; padding: 0; }
.fl_left{ float: left; }
.fl_right{ float: right; }
.cl{ font-size: 0; line-height: 0; height: 0; margin: 0; padding: 0; clear: both; }
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {border: none;}
input.song_rating {display:none;}
/*-- /general --*/
/*-- global --*/
#content {overflow:visible;}
#content p {margin:0px;}

.music_new{ font-family: Tahoma; width: 750px; color: #94b6c3; font-size: 11px; line-height: 13px; position: relative; margin:0 auto;}
.music_new table{ width: 100%; border-collapse: collapse; border: 0; table-layout: fixed; }
.music_new table td{ padding: 0; font-size:11px;}
.music_new a{ text-decoration: underline; color:#FFF;}
.music_new a:hover{ text-decoration: none; }
.music_new h1{ font-size: 22px; line-height: 26px; font-family: Arial; font-weight: normal; padding: 0; margin: 0 0 10px; }
.music_new h1.lgreen{ color: #bcdfa5; }
.music_new h1.green{ color: #cbff4a; }
.music_new h1.pink{ color: #f3a3ef; }
.music_new h1.white{ color: #fff; }
.music_new h1.lblue{ color: #c6cce6; }
.music_new img{ border: 0; }
.music_new ul li{ list-style-type: none; }
.music_new p{ padding: 0; margin: 0; }
.music_new textarea{  vertical-align: middle; font-size: 11px; font-family: Tahoma; border: none; overflow: auto; outline:none;}
.music_new select{ margin: 0; padding: 0; vertical-align: middle; font-size: 11px; line-height: 18px; height: 18px; width: 390px; color: #eaade7; }
.music_new input{ margin: 0; padding: 0 ; border: none;  font-size: 11px;  font-family: Tahoma; outline:none;}
div.music_input1 { background:url("../images/music/btn_blue_img.png") no-repeat scroll 0 0 transparent;height:18px;width:118px;text-align:center;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_input1 input {line-height:normal;padding:0;margin:0;position:relative;top:1px;height:15px;color:#FFF;background:transparent;cursor:pointer;width:100%;}
div.music_input2 {background:url("../images/music/btn_green.png") no-repeat scroll 0 0 transparent;height:18px;width:67px;text-align:center;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_input2 input {line-height:normal;padding:0;margin:0;height:15px;position:relative;top:1px;background:transparent;width:100%;cursor:pointer;color:#FFF;}
div.music_input3 {background:url("../images/music/btn_pink_img.png") no-repeat scroll 0 0 transparent;height:18px;width:118px;text-align:center;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_input3 input {color:#FFFFFF;height:15px;width:100%;cursor:pointer;background:transparent;position:relative;top:1px;line-height:normal;}
div.music_input4 {background:url("../images/music/btn_violet_img.png") no-repeat scroll 0 0 transparent;height:18px;width:90px;text-align:center;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_input4 input {color:#FFFFFF;line-height:normal;margin:0px;padding:0px;cursor:pointer;height:15px;width:100%;position:relative;top:1px;left:6px;background:transparent;}
div.music_input5 {background:url("../images/music/btn_pink.png") no-repeat scroll 0 0 transparent;height:18px;width:67px;text-align:center;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_input5 input {line-height:normal;padding:0;margin:0;cursor:pointer;width:100%;height:15px;position:relative;top:1px;background:transparent;color:#FFFFFF;}
div.music_input6 {background:url("../images/music/btn_khaki.png") no-repeat scroll 0 0 transparent;height:18px;width:67px;margin:0 32px 0 0;text-align:center;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_input6 input  {color:#FFFFFF;cursor:pointer;height:15px;width:100%;position:relative;top:1px;background:transparent;}
div.music_input7 {background:url("../images/music/btn_violet.png") no-repeat scroll 0 0 transparent;height:18px;width:67px;text-align:center;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_input7 input {color:#FFFFFF;line-height:normal;padding:0;margin:0;background:transparent;cursor:pointer;position:relative;top:1px;height:15px;}
div.music_input_text1 {background:url("../images/music/inp_violet_border.png") no-repeat scroll 0 0 transparent;height:18px;width:126px;text-align:left;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_input_text1 input {color:#CDA0D5;height:15px;position:relative;top:1px;left:6px;background:transparent;width:115px;text-align:left;line-height:normal;}
div.music_input_text2 {background:url("../images/music/inp_lviolet_border.png") no-repeat scroll 0 0 transparent;height:18px;width:392px;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_input_text2 input {color:#CDA0D5;line-height:normal;padding:0;margin:0;position:relative;top:1px;left:6px;background:transparent;width:380px;height:15px;}
div.music_input_text3 {background:url("../images/music/inp_black_find.png") no-repeat scroll 0 0 transparent;height:18px;width:221px;margin:0 0 15px;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_input_text3 input {color:#CBFF4A;height:15px;position:relative;line-height:normal;padding:0;margin:0;background:transparent;top:1px;left:6px;width:210px;}
div.music_input_text4 {background:url("../images/music/inp_black_name.png") no-repeat scroll 0 0 transparent;height:18px;width:162px;margin:0 0 15px;text-align:left;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_input_text4  input {color:#CBFF4A;line-height:normal;padding:0;margin:0;text-align:left;position:relative;top:1px;left:6px;background:transparent;width:150px;height:15px;}
div.music_textarea1 {margin: 0 0 15px; background:url("../images/music/textarea_violet_bg.png") no-repeat scroll 0 0 transparent;height:88px;width:392px;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_textarea1 textarea {line-height:normal;padding:0;margin:0;color:#EAADE7;background:transparent;width:380px;height:82px;position:relative;left:6px;top:3px;}
div.music_textarea2 {background:url("../images/music/textarea_green_bg.png") no-repeat scroll 0 0 transparent;width:355px;height:70px;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
div.music_textarea2 textarea {line-height:normal;padding:0;margin:0;width:345px;height:63px;position:relative;left:6px;top:3px;background:transparent;color:#FFF;}
/*-- /global --*/
.music_new_empty{ margin: 0 0 40px; clear: both; }
.music_new input.inp_violet_border{ background: url(../images/music/inp_violet_border.png) 0 0 no-repeat; width: 116px; color: #cda0d5; margin: 2px 0 0; }
.music_new input.inp_lviolet_border{ background: url(../images/music/inp_lviolet_border.png) 0 2px no-repeat; width: 382px; color: #cda0d5; margin: 0 }
.music_new textarea.textarea_violet{ background: url(../images/music/textarea_violet_bg.png) 0 0 no-repeat; width: 382px; height: 88px; color: #EAADE7; }
.music_new textarea.textarea_green{ background: url(../images/music/textarea_green_bg.png) 0 0 no-repeat; height: 60px; width: 345px; padding: 5px; margin: 0; color: #fff; }
.music_new input.inp_black_find{ background: url(../images/music/inp_black_find.png) 0 0 no-repeat; width: 211px; color: #cbff4a; margin: 0 0 15px; }
.music_new input.inp_black_name{ background: url(../images/music/inp_black_name.png) 0 0 no-repeat; width: 152px; color: #cbff4a; margin: 0 0 15px; }
.music_new input.btn_blue_img{ background: url(../images/music/btn_blue_img.png) 0 0 no-repeat; width: 118px; color: #fff; cursor: pointer; padding-right: 10px; }
.music_new input.btn_pink_img{ background: url(../images/music/btn_pink_img.png) 0 0 no-repeat; width: 118px; color: #fff; cursor: pointer; padding-right: 10px; }
.music_new input.btn_violet_img{ background: url(../images/music/btn_violet_img.png) 0 0 no-repeat; width: 90px; color: #fff; cursor: pointer; padding-right: 5px; text-align: right; }
.music_new input.btn_green{ background: url(../images/music/btn_green.png) 0 0 no-repeat; width: 67px; color: #fff; cursor: pointer; }
.music_new input.btn_pink{ background: url(../images/music/btn_pink.png) 0 0 no-repeat; width: 67px; color: #fff; cursor: pointer; }
.music_new input.btn_khaki{ background: url(../images/music/btn_khaki.png) 0 0 no-repeat; width: 67px; color: #fff; cursor: pointer; margin: 0 32px 0 0; }
.music_new input.btn_violet{ background: url(../images/music/btn_violet.png) 0 0 no-repeat; width: 67px; color: #fff; cursor: pointer; margin: 0 0 0 0; }
.music_new input.inp_file{ width: 85px; }
.music_new_head{ color: #999fbb; }
.music_new_head strong{ color: #fff; }
.music_new_head_txt{ float: left; padding: 2px 0 0;color: #cbff4a; }
.music_new_head td{ height: 30px; }
.music_new_head td.td_l{ background: url(../images/music/places_head_l.png) 0 0 no-repeat; width: 9px; }
.music_new_head td.td_r{ background: url(../images/music/places_head_r.png) 0 0 no-repeat; width: 9px; }
.music_new_head td.td_c{ background: #000; }
.music_new_head_l{ background: url(../images/music/bl_places_head_l.png) 0 0 no-repeat; width: 9px; height: 30px; float: left; }
.music_new_head_r{ background: url(../images/music/bl_places_head_r.png) 0 0 no-repeat; width: 9px; height: 30px; float: right; }
.music_new_head_c{ background: #000; height: 30px; margin: 0 9px;  }
.music_new_menu_bg{ background: #b7d05e; height: 60px; }
ul.music_new_menu{ margin: 0; padding: 0 0 0 10px; height: 18px; }
ul.music_new_menu li{ margin: 0 5px 0 0; padding: 0 5px 0 0; float: left; font-size: 9px; line-height: 17px; background: url(../images/music/places_menu_marker.gif) 100% 4px no-repeat; color: #7f9339; }
ul.music_new_menu li.last{ background: none; }
ul.music_new_menu li a{ color: #000; }
.music_new td .music_new_tb_sub{ margin: 0 0 20px; }
.music_new td .music_new_tb_sub th{ color: #62326a; font-weight: normal; text-align: left; border-right: 1px dashed #ad8ab3; padding: 0; }
.music_new td .music_new_tb_sub th span{ padding: 0 0 0 5px; }
.music_new td .music_new_tb_sub th.first{ padding: 0; }
.music_new td .music_new_tb_sub th.nb{ border-right: none; }
.music_new td .music_new_tb_sub th.th_t_l{ background: url(../images/music/tb_sub_head_l.png) 0 0 no-repeat; width: 7px; height: 20px; }
.music_new td .music_new_tb_sub th.th_t_r{ background: url(../images/music/tb_sub_head_r.png) 0 0 no-repeat; width: 7px; height: 20px; }
.music_new td .music_new_tb_sub th.th_t_c{ background: #9c72a3; height: 20px; }
.music_new td .music_new_tb_sub td.first{ padding: 0; }
.music_new td .music_new_tb_sub td.first img, x:-moz-any-link{ width: 38px; }
.music_new td .music_new_tb_sub td.nb{ border-right: none; }
.music_new td .music_new_tb_sub td.play{ vertical-align: middle; padding: 0; }
.music_new td .music_new_tb_sub td{ background: url(../images/music/tb_sub_bg.gif) 0 0 repeat-x; height: 24px; padding: 7px 0 0 0; vertical-align: top; border-right: 1px dashed #ad8ab3; }
.music_new td .music_new_tb_sub td a{ color: #b37dbc; display: block; margin: 0 0 0 5px; float: left; }
.music_new td .music_new_tb_sub td a.foto{ margin: 0; }
.music_new td .music_new_tb_sub td a.lgreen{ color: #c8e193; }
.music_new td .music_new_tb_sub th.th_b_l{ background: url(../images/music/tb_sub_foot_l.png) 0 0 no-repeat; width: 7px; height: 17px; }
.music_new td .music_new_tb_sub th.th_b_r{ background: url(../images/music/tb_sub_foot_r.png) 0 0 no-repeat; width: 7px; height: 17px; }
.music_new td .music_new_tb_sub th.th_b_c{ background: #91a800; height: 17px; }
.pl_lviolet{ background: url(../images/music/pl_lviolet_bg.png) 0 0 no-repeat; width: 244px; height: 26px; padding: 0; z-index: 2; position: relative; margin: 0px -10px 0 0; text-align: right; }
.music_new_search{ height: 20px; position:relative;top:-10px;}
.pl_khaki{ background: url(../images/music/pl_khaki_bg.png) 0 0 no-repeat; width: 244px; height: 26px; padding: 0; z-index: 2; position: relative; margin: 0 -10px 0 0; }
.pl_khaki ul.music_new_list li{ line-height: 24px; padding: 0 0 0 15px; }
.pl_khaki ul.music_new_list li a{ color: #d3e888; text-decoration: underline; }
.pl_khaki ul.music_new_list li a:hover{ text-decoration: none; }
.music_new_bl_green{ float: left; width: 260px; color: #000; }
.music_new_bl_green p{ margin: 0 0 15px 15px; line-height: 16px; }
.list_bg_violet{ background: url(../images/music/list_bg_violet.png) 0 0 no-repeat; width: 278px; height: 55px; overflow: hidden; margin: 0 0 18px; }
ul.list_bg{ padding: 4px 0 0 15px; margin: 0; }
ul.list_bg li{ padding: 0; margin: 0 0 3px; color: #fff;height:12px;white-space:nowrap;}
ul.list_bg li strong{ color: #cbff4a;}
ul.list_bg li a{ color: #fff;}
.music_new_bl_star{ color: #fff; margin: 21px 10px 8px 0; }
.music_new_bl_star img{ vertical-align: middle; }
.music_new_carusel{ background: #7d588e; height: 35px; width: 166px; padding: 6px 0 0; position: relative; clear: left; }
.music_new_carusel ul{ padding: 0 5px; margin: 0; }
.music_new_carusel ul li{ padding: 0; margin: 0; float: left; }
.music_new_carusel ul li.active{ background: url(../images/music/carusel_frame.gif) 0 0 no-repeat; width: 35px; height: 25px; padding: 2px; overflow: hidden; }
.music_new_carusel ul li.active img{ width: 35px; height: 25px; }
.music_new_carusel_l{ background: url(../images/music/carusel_l.gif) 0 0 no-repeat; width: 6px; height: 11px; position: absolute; left: -8px; top: 15px; font-size: 0; line-height: 0; }
.music_new_carusel_r{ background: url(../images/music/carusel_r.gif) 0 0 no-repeat; width: 6px; height: 11px; position: absolute; right: -8px; top: 15px; font-size: 0; line-height: 0; }
.music_new_carusel_l a, .music_new_carusel_r a { display: block; width: 6px; height: 11px; }
.tb_music_new .music_new_margin0{ margin: 0; }
.music_new_comments{ color: #fff; margin: 0 0 20px; }
.music_new_comments .violet{ background: #7a5484; }
.music_new_comments .violet_bot{ background: url(../images/music/music_new_comments_violet_bot.png) 0 0 no-repeat; }
.music_new_comments_head{ background: url(../images/music/music_new_comments_head.png) 0 0 no-repeat; height: 18px; padding: 2px 10px 0; }
.music_new_comments_head a{ color: #c88bd0; font-weight: bold; }
.music_new_comments_head div{ position: relative; }
.music_new_comments_bot{ background: url(../images/music/music_new_comments_bot.png) 0 0 no-repeat; width: 443px; height: 10px; font-size: 0; line-height: 0; }
.music_new_comments_c{ background: #738555; padding: 10px 10px 0; width: 423px; }
.music_new_comments_c a:first-child{ display: block; float: left; }
.music_new_comments_c img{ border: 1px solid #000; }
.music_new_comments_c p{ padding: 0 0 15px 72px; }
.music_new_comments_c p.last{ padding-bottom: 0; }

.music_new_comments_txt{ float: left; margin: 1px 0 0; }
.tb_music_new td{ vertical-align: top; }
.tb_music_new td.td_main{ width: 464px; background: #8d6292 url(../images/music/td_main_bg.gif) 100% 0 repeat-y; }
.music_new_decor{ background: #81984f url(../images/music/decor_green.jpg) 100% 0 no-repeat; height: 153px; padding: 0 10px; margin: 0; overflow: hidden; }
.music_new_decor_l{ background: #81984f url(../images/music/decor_green_l.jpg) 100% 0 no-repeat; height: 238px; padding: 0 10px; margin: 0; overflow: hidden; }
.music_new_decor_violet{ background: #95608e url(../images/music/music_new_decor_violet.jpg) 100% 0 no-repeat; height: 238px; padding: 0 10px; margin: 0; overflow: hidden; }
.music_new_p{ padding: 0 10px; }
.pl_top{ padding-top: 10px; }
.pl_top_m{ margin-top: -35px; }
.pl_right{ text-align: right; }
.music_new_shadow{ text-align: right; }
.music_new_frm_search{ width: 253px; float: left; background: url(../images/music/line_dashed_v.gif) 100% 0 repeat-y; height: 143px; padding: 10px 0 0; }
.music_new_foto{ padding: 0 0 15px; width:200px;}
.music_new_foto ul{ padding: 0 0 0 100px; margin: 0; }
.music_new_foto ul li{ padding: 0; margin: 0 0 2px; color: #fff; line-height: 14px; }
.music_new_foto ul li a{ font-weight: bold; color: #f3a3ef; }
.music_new_foto ul li.avtor{ margin: 0 0 6px; }
.music_new_foto ul li.avtor a{ font-weight: normal; color: #54bae3; }
.music_new_foto ul li.last{ padding: 12px 0 0; }
.music_new_foto ul li.c_blue a{ color: #c6cce6; font-weight: bold; }
.music_new_img{ background: #f3a3ef; float: left; padding:2px; #padding: 2px 2px 0; position: relative; }
.music_new_img img{ border: 1px solid #000; }
.music_new_img_green{ background: #cbff4a; float: left; padding:2px; #padding: 2px 2px 0; margin: 0 0 8px; position: relative; }
.music_new_img_green img{ border: 1px solid #000; }
.music_new_img_txt{ clear: left; color: #cbff4a; white-space: nowrap; }
.music_new_img_txt a{ color: #fff; }
.music_new_img_txt strong a{ color: #cbff4a; }
.music_new_img_txt span{ display: block; color: #fff; padding: 8px 0 0; }
.music_new_img_txt span.black{ color: #000; padding: 4px 0 0; }
.music_new_img_txt span.black a{ color: #000;  }
.music_new_play{ position: absolute; left: -3px; bottom: -4px; }
.music_new_play img, .music_new_play_l img, .music_new_star img, .music_new_delete img{ border: none; }
.music_new_play_l{ position: absolute; left: 3px; top: 2px; }
.music_new_star{ position: absolute; left: 8px; bottom: 5px; }
.music_new_delete{ position: absolute; top: 3px; right: 4px; z-index: 2; }
.music_new_play_b{ margin: -5px 0 0 0; position:relative;right:-10px;height:26px; }
.music_new_top_pl{ float: left; padding: 0 60px 0 0; }
.last_top_pl{ padding: 0; }
.bl_overflow{ overflow: hidden; width: 152px; height:  24px; margin: 0 0 15px; }
.bl_overflow h1{ margin: 0; }
.music_new_pl_violet{ position: relative; float: left; margin: 0 0 20px; }
.music_new_pl_violet_l{ background: url(../images/music/place_pl_violet_l.png) 0 0 no-repeat; width: 12px; height: 26px; float: left; }
.music_new_pl_violet_r{ background: url(../images/music/place_pl_violet_r.png) 0 0 no-repeat; width: 12px; height: 26px; float: left; }
.music_new_pl_violet_c{ background: #513363; height: 26px; margin: 0; line-height: 25px; float: left; }
.music_new_pl_violet_img{ float: left; margin: 0 3px 0 -17px; }
.music_new_pl_violet_img img{ vertical-align: middle; position: absolute; margin: -5px 0 0; }
/*1*/
.music_new_pl_lviolet{ position: relative; float: left; margin: 0 0 20px; margin: 0 -27px 0 0; z-index: 3; }
.music_new_pl_lviolet_l{ background: url(../images/music/place_pl_lviolet_l.png) 0 0 no-repeat; width: 12px; height: 26px; float: left; }
.music_new_pl_lviolet_r{ background: url(../images/music/place_pl_lviolet_r.png) 0 0 no-repeat; width: 12px; height: 26px; float: left; }
.music_new_pl_lviolet_c{ background: #8c739b; height: 26px; margin: 0; line-height: 25px; float: left; }
.music_new_pl_lviolet_c ul.music_new_list li a{ color: #d4b1e9; }
.music_new_pl_lviolet_img{ float: left; margin: 0 3px 0 -17px; }
.music_new_pl_lviolet_img img{ vertical-align: middle; position: absolute; margin: -5px 0 0; }
.music_new_pl_khaki{ position: relative; float: left; margin: 0 0 20px; margin: 0 -27px 0 0; z-index: 3; }
.music_new_pl_khaki_l{ background: url(../images/music/place_pl_khaki_l.png) 0 0 no-repeat; width: 12px; height: 26px; float: left; }
.music_new_pl_khaki_r{ background: url(../images/music/place_pl_khaki_r.png) 0 0 no-repeat; width: 12px; height: 26px; float: left; }
.music_new_pl_khaki_c{ background: #6f713d; height: 26px; margin: 0; line-height: 25px; float: left; }
.music_new_pl_khaki_c ul.music_new_list li a{ color: #d3e888; }
.music_new_pl_khaki_img{ float: left; margin: 0 3px 0 -17px; }
.music_new_pl_khaki_img img{ vertical-align: middle; position: absolute; margin: -5px 0 0; }
/*1*/
ul.music_new_list{ margin: 0; padding: 0 2px 0 20px; }
ul.music_new_list li{ margin: 0; padding: 0; display: inline; }
ul.music_new_list li a{ color: #aaafc4; text-decoration: none; }
ul.music_new_list li a:hover{ text-decoration: underline; }
.tb_music_new td.td_narrow{ background: #6a007f url(../images/music/line_dashed_v2.gif) 0 0 repeat-y; padding: 10px 10px 0; }
.tb_music_new td.td_narrow p{ line-height: 17px; padding: 0 0 5px; }
.bl_music_new_frm{ background: #744170; margin: 0 -10px; padding: 15px 10px 0; }
.tb_music_new_frm{ margin: 0; }
.tb_music_new_frm th{ font-weight: normal; text-align: right; color: #eaade7; vertical-align: top; padding: 0 4px 20px; line-height: 14px; width: 43px;  }
.music_new_p_btn{ margin: -30px 0 0; position: relative; z-index: 20; }
.tb_music_new_frm .music_new_img{  margin: 0 7px 15px 0; padding:2px;#padding: 2px 2px 0;}
.line_dashed{ background: url(../images/music/line_dashed.gif) 0 0 repeat-x; height: 1px; line-height: 0; font-size: 0; padding: 0; margin: 0 0 15px; clear: both; }
.music_new_foot td.td_l{ background: url(../images/music/places_foot_l.png) 0 0 no-repeat; width: 9px; height: 71px; }
.music_new_foot td.td_r{ background: url(../images/music/places_foot_r.png) 0 0 no-repeat; width: 9px; height: 71px; }
.music_new_foot td.td_c{ background: #102418 url(../images/music/places_foot_decor.jpg) 100% 0 no-repeat; height: 71px; }

/*-- main_pl --*/
.bl_main_pl{  }
.bl_main_pl table{ width: 100%; table-layout: auto; }
.bl_main_pl table td{  }
.bl_main_pl h1{ float: left; margin: 0 20px 0 0; white-space: nowrap; }
.bl_main_pl h1.orange{ color: #ED7D3B; }
.bl_main_pl h1.blue{ color: #2E5A87; }
.bl_main_pl .main_pl{ width: 100%;   }
/*.bl_main_pl .main_pl.grey{ background: url(../images/music/pl_lviolet_bg.png) 0 0 repeat; }*/
.bl_main_pl .main_pl.green .bg{ background: url(../images/music/pl_khaki_bg.png) 0 0 repeat; }
.bl_main_pl .main_pl.green .cont{ background: #6f713d }
.bl_main_pl .main_pl.green ul.list li a{ color: #D3E888;  }
.bl_main_pl .main_pl .cont{ background: #8c739b; height: 26px; margin: 0 10px 0 0; line-height: 25px; float: left; border-radius: 15px; -moz-border-radius: 15px; z-index: 3; position: relative;

 }
.bl_main_pl .main_pl .cont.darkgrey{ background: #ccc; }
.bl_main_pl .main_pl .pic{ float: left; margin: 0 3px 0 -8px; }
.bl_main_pl .main_pl .pic img{ vertical-align: middle; position: absolute; margin: -4px 0 0; }
.bl_main_pl ul.list{ margin: 0; padding: 0 10px 0 30px; }
.bl_main_pl ul.list li{ margin: 0; padding: 0; display: inline; font-size: 11px; }
.bl_main_pl ul.list li a{ color: #D4B1E9; text-decoration: none; }
.bl_main_pl ul.list li a:hover{ text-decoration: underline; }
.bl_main_pl .bg{ height: 26px; margin: 0 -10px 10px 0; padding: 0; z-index: 2; border-radius: 15px 0 0 15px; -moz-border-radius: 15px 0 0 15px; background: url(../images/music/pl_lviolet_bg.png) 0 0 repeat; }
.bl_main_pl .bg .bl_search{ padding: 4px 0 0; height: 22px; }

.bl_main_pl .bg ul.lists{ margin: 0; padding: 0; }
.bl_main_pl .bg ul.lists li{ line-height: 24px; padding: 0 10px 0 0; margin: 0; }
.bl_main_pl .bg ul.lists li a{ color: #D3E888; text-decoration: underline; font-size:11px;}
.bl_main_pl .bg ul.lists li a:hover{ text-decoration: none; }

/*-- /main_pl --*/

/*-- narrow_pl --*/
.narrow_pl{ background: url(../images/music/pl_violet_bg.png) 0 0 repeat; width: 275px;  height: 26px; margin: 0 0 20px; border-radius: 15px 0 0 15px; -moz-border-radius: 15px 0 0 15px; }
.narrow_pl .cont{ background: #513363; height: 26px; margin: 0; line-height: 25px; float: left; border-radius: 15px; -moz-border-radius: 15px; z-index: 3; position: relative; }
.narrow_pl .pic{ float: left; margin: 0 3px 0 -8px; }
.narrow_pl .pic img{ vertical-align: middle; position: absolute; margin: -4px 0 0; }
.narrow_pl ul.list{ margin: 0; padding: 0 10px 0 30px; }
.narrow_pl ul.list li{ margin: 0; padding: 0; display: inline; font-size: 11px; }
.narrow_pl ul.list li a{ color: #AAAFC4; text-decoration: none; }
.narrow_pl ul.list li a:hover{ text-decoration: underline; }
/*-- /narrow_pl --*/


/*-- paging --*/
ul.music_new_paging{ margin: 0 0 0 10px; padding: 0; }
ul.music_new_paging li{ margin: 0 5px 0 0; padding: 0; float: left; color: #af83b6; }
ul.music_new_paging li a{ margin: 0; padding: 0; color: #af83b6; }
ul.music_new_paging li.active{ font-weight: bold; }
ul.music_new_paging_green, ul.music_new_paging_violet{ float: right; padding: 0 0 20px; }
ul.music_new_paging_green li, ul.music_new_paging_green li a{ color: #c4ed21; }
ul.music_new_paging_violet li, ul.music_new_paging_violet li a{ color: #c68fbe; }
/*-- /paging --*/
.bl_search{height:20px;position:relative;top:0px;}
.bl_search2{height:20px;position:relative;top:4px;}
.bl_search2 div.music_input_text1  {position:relative;left:30px;}
.bl_search2 div.music_input2  {position:relative;left:-12px;}
.bl_search div.music_input2  {position:relative;left:-8px;}
.decor_top{ background: url(../images/music/decor_top.png) 0 0 no-repeat; width: 373px; height: 25px; position: absolute; top: -10px; left: 165px;}
.decor_right{ background: url(../images/music/decor_right.png) 0 0 no-repeat; width: 17px; height: 298px; position: absolute; top: 334px; right: 0;}
/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:21px;height:16px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden  !important;}
div.rating-cancel,div.rating-cancel a{background:url(../images/vids/delete.gif) no-repeat 0 -16px  !important;}
div.star-rating,div.star-rating a{background:url(../images/vids/ico_star.png) no-repeat 0 0px ;}
div.rating-cancel a,div.star-rating a{display:block;width:20px;height:100%;background-position:0 0px;border:0  !important;}
div.star-rating-on a{background-position:0 -16px!important;}
* html div.star-rating-on a{background-position:0 -15px!important;}
div.star-rating-hover a{background-position:0 -32px !important;}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important;}
/* Partial Star CSS */
div.star-rating{ background:transparent !important;overflow:hidden !important;height:16px;}
/* END jQuery.Rating Plugin CSS */
div.pl_top div.fl_right a.music_new_upload {background:url("../images/music/btn_green_img.png") no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:18px;line-height:15px;padding-top:1px;text-align:center;text-decoration:none;text-indent:10px;width:118px;_behavior: url("./_frameworks/main/mixer/css/iepngfix.htc");}
.music_inp .ABKText {top:2px;}

.music_new div.ProgressBar {background:url("../images/music/upload_progress_background.png") repeat scroll 0 0 transparent;border:0 none;height:18px;padding:0;width:392px;}
.music_new div.ProgressBar div {background:url("../images/music/upload_progress.png") repeat scroll 0 0 transparent;border:0 none;float:left;font-size:1pt;height:18px;width:0;}

.bl_music_l{ width: 170px; }

div.music_input_text2 span {color:#cc99cc; cursor:pointer; display: block; background:url('../images/music/music_upload_button.png') no-repeat top right; line-height:18px; padding:0 0 0 5px; margin:0;position:relative;top:0px;left:1px;height:18px;}
div.music_input_text2 {color:#cc99cc; background:url("../images/music/inp_lviolet_border.png") no-repeat scroll 0 0 transparent;height:18px;width:392px;_behavior: url("./_frameworks/main/oryx/css/iepngfix.htc");}
div.music_input_text2 input {color:#cc99cc;line-height:normal;padding:0;margin:0;position:relative;top:1px;left:6px;background:transparent;width:378px;height:15px;}

