/*-- global --*/
.red{ border: 1px solid red; }
*{ margin: 0; padding: 0; }
html, body{ padding: 0; margin: 0; font: 11px Arial, Tahoma, Verdana, sans-serif; color: #8A99AE; height: 100%; background: #fff; }
p{ padding: 0 0 15px 0; margin: 0; font: 100% Arial, Tahoma, Verdana, sans-serif; }

img{ border: 0; vertical-align: middle; }

table{ border-collapse: collapse; border: 0; width: 100%; table-layout: fixed; }
table td{ padding: 0;}

form{ padding: 0; margin: 0;}
label{ font-weight: bold; display: block; line-height: 16px; }
input{ font-family: Tahoma; padding: 3px 0; margin: 0 0 15px; vertical-align: middle; border: 1px solid #c9c9c9; width: 98%; background: url(../images/input_bg.gif) 0 0 repeat-x; }
textarea{ font-family: Tahoma; overflow: hidden; margin: 0 0 15px; padding: 5px; font-size: 11px; line-height: 20px; border: 1px solid #c9c9c9; height: 418px; width: 543px; color: #0b0b0b; background: #fdfdfd url(../images/input_bg.gif) 0 0 repeat-x; text-align: left; }

ul li{ list-style-type: none; }

a{ text-decoration: underline; color: #8A99AE; }
a:hover{ text-decoration: none;}

h2{ font-size: 18px; line-height: 20px; padding: 0; margin: 0 0 15px 0; font-weight: normal; border-bottom: 1px solid #8a99ae; }

.fl_left{ float: left; }
.fl_right{ float: right; }
.clear{ clear: left; font-size: 0; line-height: 0; }

.justify{ clear: left; font-size: 0; line-height: 0; height: 0; margin: 0; padding: 0; }
.main{ min-width: 1002px; max-width: 1128px; height: 100%; margin: 0 auto; }

.wrapper{ position: relative; min-height: 100%; margin-bottom: -62px; }
* html .wrapper{ height: 100%; }
/*-- /global --*/

/*-- header --*/
.header{ padding: 10px 0 0 0; margin: 0 50px; }
.header_top{ padding: 0 15px; }
.title{ float: left; font-size: 24px; line-height: 40px; font-weight: bold; }
.title a{ font-weight: normal; }

.admin_menu{ float: right; padding: 10px 0 0; }
.admin_menu ul{ margin: 0; padding: 0; }
.admin_menu ul li{ margin: 0; padding: 0 3px 0 0; display: inline; }

.header_bl{ background: url(../images/header_bg.jpg) 0 0 repeat-x; height: 89px;  }
.header_l{ background: url(../images/header_bg_l.jpg) 0 0 no-repeat; }
.header_r{ background: url(../images/header_bg_r.jpg) 100% 0 no-repeat; height: 89px; }

.mmenu{ position: relative; height: 20px; padding: 8px 0 12px; margin: 0 0 0 24px; width: 80%; text-align: left; overflow:hidden;}
.mmenu li{ float: left; list-style: none; margin: 2px 0; font-weight: bold; }
.mmenu li.back{ background:url("../images/hmenu.gif") no-repeat right -20px; width: 5px; height:20px; z-index:8; position:absolute; }
.mmenu li.back .left {background:url("../images/hmenu.gif") no-repeat top left; height:20px; margin-right:5px; }
.mmenu li a{ font-size: 11px; text-decoration: none; color: #fff; padding: 5px 10px; text-align:center; z-index: 9; display:block; float:left; position: relative; margin: auto 8px }
.mmenu li a:visited{ color: #fff; border: none; }
.mmenu li a:active, .mmenu li a:hover{ color: #E1FA53; border: none; }

.bl_hmenu_sub{ background: url(../images/bl_hmenu_sub_bg.jpg) 0 0 repeat-x; height: 37px; margin: 0 22px; clear: both; }
.bl_hmenu_sub_l{ background: url(../images/bl_hmenu_sub_bg_l.jpg) 0 0 no-repeat; height: 37px;  }
.bl_hmenu_sub_r{ background: url(../images/bl_hmenu_sub_bg_r.jpg) 100% 0 no-repeat; height: 37px;  }

.smenu{ position: relative; height: 30px; margin: 0 0 0 20px; padding: 5px 0 0; width: 82%; overflow: hidden; }
.smenu li {float:left; list-style:none; margin: 3px 0;}
.smenu li.back {background: url("../images/sub_hmenu.gif") no-repeat right -20px;width: 4px; height: 18px;z-index: 8;position: absolute;}
.smenu li.back .left {background: url("../images/sub_hmenu.gif") no-repeat top left;height: 20px;margin-right: 4px; /* 7px is the width of the rounded shape */}
.smenu li a {position:relative; display:block; z-index:9; font-size: 11px; text-decoration:none; color:#b0bfd4; padding: 5px 10px; text-align:center; float:left; margin:auto 8px;}
.smenu li a:hover, .smenu li a:active, .smenu li a:visited {color: #b0bfd4; border: none;}
/*-- /header --*/

/*-- content --*/
.content{ clear: both; margin: 0 74px 0 60px; padding: 10px 0 62px; }

.block_narrow{ width: 120px; float: left; }

ul.lmenu_lgreen{ margin: -2px 0 30px; padding: 0; position: relative; }
ul.lmenu_lgreen li{ margin: 0; padding: 0 0 0 0; text-align: right; color: #fff; line-height: 24px; width: 103px; height: 28px; }
ul.lmenu_lgreen li.active{ background: url(../images/lmenu_active_lgreen.png) 0 0 no-repeat; padding: 0 11px 0 0; }
ul.lmenu_lgreen li a{ display: block; width: 103px; height: 28px; padding: 0 11px 0 0; }
ul.lmenu_lgreen li a:hover{ background: url(../images/lmenu_active_lgreen.png) 0 0 no-repeat; color: #fff; }

ul.lmenu_red{ margin: -2px 0 30px; padding: 0; position: relative; }
ul.lmenu_red li{ margin: 0; padding: 0 0 0 0; text-align: right; color: #fff; line-height: 24px; width: 103px; height: 28px; }
ul.lmenu_red li.active{ background: url(../images/lmenu_active_red.png) 0 0 no-repeat; padding: 0 11px 0 0; }
ul.lmenu_red li a{ display: block; width: 103px; height: 28px; padding: 0 11px 0 0; }
ul.lmenu_red li a:hover{ background: url(../images/lmenu_active_red.png) 0 0 no-repeat; color: #fff; }

ul.lmenu_blue{ margin: -2px 0 30px; padding: 0; position: relative; }
ul.lmenu_blue li{ margin: 0; padding: 0 0 0 0; text-align: right; color: #fff; line-height: 24px; width: 103px; height: 28px; }
ul.lmenu_blue li.active{ background: url(../images/lmenu_active_blue.png) 0 0 no-repeat; padding: 0 11px 0 0; }
ul.lmenu_blue li a{ display: block; width: 103px; height: 28px; padding: 0 11px 0 0; }
ul.lmenu_blue li a:hover{ background: url(../images/lmenu_active_blue.png) 0 0 no-repeat; color: #fff; }


.block_main{ margin: 0 0 0 120px; padding: 0 0 0 12px; background: url(../images/border_dashed_v.gif) 0 0 repeat-y; min-height: 500px; }

.bl_form{ width: 565px; padding: 0 0 60px; }
input.check{ width: 16px; height: 16px; text-align: center; padding: 0; margin: -3px -2px 0 0; position: relative; }
.bl_label{ background: url(../images/bl_label_bg.gif) 0 80% repeat-x; margin: 0 10px 12px 0; }
.bl_label label{ background: #fff; }
.link{ font-weight: bold; margin: 20px 10px 0 0; }
textarea.textarea_large{ height: 150px; }
.block_logo{ border: 1px solid #c9c9c9; width: 530px; background: #fdfdfd url(../images/input_bg.gif) 0 0 repeat-x; height: 50px; margin: 0 0 15px; padding: 25px 0 0 25px; }
input.upload{ margin: 16px 0 0; padding: 0; width: 340px; }


.btn{ background: url(../images/btn.png) 0 0 no-repeat; width: 174px; height: 34px; padding: 5px 7px 0 7px; text-align: center; 1line-height: 32px; font-weight: bold; margin: 10px 0 0 0; }
.btn a{ display: block; width: 174px; height: 24px; color: #fff; text-decoration: none; line-height: 24px; cursor: pointer; position: relative; }

.tb_txt td{ width: 50%; vertical-align: top; padding: 0 40px 0 0;  }

.tb{ padding: 0; margin: 0 0 20px; }
.tb p{ padding: 0; margin: 0; line-height: 24px; }
.tb th{ line-height: 24px; background: #dbdcbe; border-right: 1px solid #fff; color: #fff; padding: 0 0 0 10px; text-align: left; }
.tb th span{ font-weight: normal; }
.tb th.right, .tb td.right{ text-align: right; padding: 0 10px 0 0; }
.tb th.decor_l{ background: #dbdcbe url(../images/tb_head_decor_l.gif) 0 0 no-repeat; width: 5px; border: none; padding: 0; }
.tb th.decor_r{ background: #dbdcbe url(../images/tb_head_decor_r.gif) 0 0 no-repeat; width: 5px; border: none; padding: 0; }
.tb th.last{ border: none; }

.tb tr.color{ background: #e4e9ea; }
.tb td{ vertical-align: top; line-height: 24px; padding: 0 0 0 10px;  border-right: 1px dashed #cfd7d9; }
.tb td.decor{ width: 5px; border: none; }
.tb td.last{ border: none; }
.tb td.decor_l{ background: #dbdcbe url(../images/tb_decor_l.gif) 0 0 no-repeat; width: 5px; border: none; padding: 0; }
.tb td.decor_r{ background: #dbdcbe url(../images/tb_decor_r.gif) 0 0 no-repeat; width: 5px; border: none; padding: 0; }

.empty{ height: 60px; }


/*-- /content --*/

/*-- footer --*/
.footer{ clear: both; position: relative; background: url(../images/footer_bg.jpg) 0 0 repeat-x; color: #fff; margin: 0 50px; height: 62px; text-align: center; line-height: 35px; }
.footer_l{ background: url(../images/footer_bg_l.jpg) 0 0 no-repeat;  height: 62px; }
.footer_r{ background: url(../images/footer_bg_r.jpg) 100% 0 no-repeat; height: 52px; padding: 10px 0 0; }

.footer_sub{ background: url(../images/footer_sub_bg.gif) 0 0 repeat-x; height: 37px; margin: 0 22px; clear: both; }
.footer_sub_l{ background: url(../images/footer_sub_bg_l.gif) 0 0 no-repeat; height: 37px;  }
.footer_sub_r{ background: url(../images/footer_sub_bg_r.gif) 100% 0 no-repeat; height: 37px;  }
/*-- /footer --*/